<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010918144477-n78ph4vcolqg365jd24imnpbr2h8at9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010918144477-n78ph4vcolqg365jd24imnpbr2h8at9a</string>
	<key>API_KEY</key>
	<string>AIzaSyAVInEmbPv41m8CVfxm47gaEqlb_QBNW5k</string>
	<key>GCM_SENDER_ID</key>
	<string>1010918144477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.KittyMork.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-875b1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-875b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010918144477:ios:a9e7b3ef2479d380901e34</string>
</dict>
</plist>